    *{
        padding: 0;
        margin: 0;
    }
    #navmenu{
        background-color: rgb(220, 197, 197);
        text-decoration: none;
        justify-content: space-evenly;
    
    }
    .nav a{
        color: rgb(21, 19, 19);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 50px;
    text-decoration: none;
    text-align: justify;
    }
